/* GENERAL SETTINGS */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
section {
  padding: 60px 0;
}
.wrapper-big {
  width: 1120px;
}
.wrapper-small {
  width: 1008px;
}
.wrapper-smaller {
  width: 832px;
}
.wrapper-small, .wrapper-big, .wrapper-smaller {
  margin: 0 auto;
}


/* FONT SETTINGS */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h1, .btn, h4, h5, figcaption, .btn {
  font-family: 'Raleway', sans-serif;
}
h2, h3, p, small, h6, header li {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 800;
  margin-bottom: 40px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 60px;
}
h3 {
  font-size: 32px;
  line-height: 50px;
  margin-bottom: 15px;
}
h4 {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 40px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
h4, h5 {
  letter-spacing: 1px;
}
h6, p {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 30px;
}
.btn {
  width: 190px; height: 45px;
  background-color: #F70966;
  border-radius: 5px;
  border: 0px;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;

  cursor: pointer;
}
/* COLORS & WEIGHT */
h1, h2, .btn, #free h3 {
  color: #fff;
}
h4, h5, a {
  color: #303cad;
}
h3, h6 {
  color: #44444d;
}
h2, h3, h6, p {
  font-weight: normal;
}
h4, #meet h5, .btn {
  font-weight: bold;
}
#partners h5 {
  color: #9193aa;
}
.text-center {
  text-align: center;
}
/* SPECIFIC FONT SETTINGS */
header a {
  color: #5c5d67;
}
h4, h5, figcaption, .btn {
  text-transform: uppercase;
}
#meet h3 {
  margin: 20px 0 10px;
}
#meet figcaption {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #9193aa;
  margin-bottom: 30px;
}






/* SETTINGS RELATIVE TO THE PAGE */

/* H E A D E R */
header {
  width: 100%;
  height: 80px;
  padding: 0 30px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
    nav {
      width: 700px;
      margin: 0 20px;

      justify-content: space-around;
      align-items: center;
    }
    nav, ul  {
      display: flex;
      flex-flow: row nowrap;
    }
    ul {
      width: 500px;
      justify-content: space-around;
    }
    header img {
      width: 150px;
    }
    header .btn {
      width: 150px;
      height: 35px;

      font-size: 12px;
      line-height: 20px;
    }
/* M A I N */
#intro {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
#intro video {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  -webkit-filter: brightness(50%);
}
/* BENEFITS & FEATURES SECTION */
#ben-n-feats > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#ben-n-feats div div, #ben-n-feats img {
  width: 50%;
  padding: 40px;
}

/* TRY FOR FREE SECTION */
#free {
  background-color: #2E399B;
}

/* ABOUT US SECTION */
#about-us .wrapper-big {
  display: flex;
  flex-flow: row nowrap;
}
    .card {
      width: 245px;
      margin-left: 30px;
    }
        .card div:first-child {
          position: relative;
          height: 350px;
          border-radius: 5px 5px 0 0;

          overflow: hidden;
        }
        .card img {
          height:100%;
          display: block;
        }
        .card div+div {
          height: 40px;

          position: relative;

          box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        }
        .card figcaption {
          position: absolute;
          top: 50%; left: 20%;
          transform: translate(-50%,-50%);
        }


/* MEET US SECTION */
#meet {
  background-color: #F9F9F9;
}

/* FEATURES SECTION */
#feats {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  background-color: #F9F9F9;
}
#feats .wrapper-big {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
    .block {
      width: 250px;
      padding: 15px;
    }

/* PARTNERS SECTION */
#partners {
  padding: 40px 0;

  background-color: #F0F0F2;
}
#partners div div{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

/* F O O T E R */
footer {
  padding: 40px;
}
footer div {
  display: flex;
  flex-flow: row nowrap;
}
footer .wrapper-big {
  justify-content: space-between;
}
    footer .wrapper-big > div:first-child {
      width: 40%;
      justify-content: space-between;
    }
        footer .wrapper-big > div div, footer .wrapper-big > div:last-child {
          flex-flow: column nowrap;
        }
footer button+button {
  margin-top: 10px;
}
